<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="imgs/logo/fav.png">
    <title>IMAS 2023</title>
</head>
<body>
    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12 header-logo">
              <div class="brand">
                <img src="imgs/logo/logo.png" alt="company logo">
              </div>
              <div class="text-header-logo">
                <h3 class="ieee">IEEE</h3>
                <h2 class="imas">IMAS</h2>
                <h2 class="imas">2023</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- /main-header -->

    <!-- header-menu -->
    <div class="container-fluid header-menu">
        <div class="container">
          <div class="links">
            <a href="/" class="link">Home</a>
            <a href="/About" class="link">About</a>
            <a href="/Agenda" class="link">Agenda</a>
            <a href="/Topics" class="link">Topics</a>
            <a href="/Structure" class="link">Structure</a>
            <a href="/Sponsers" class="link">Sponsers</a>
            <a href="/Registration" class="link">Registration</a>
          </div>
        </div>
      </div>
    <!-- /header-menu -->

    <!-- main -->
    
    <!-- Brief About -->
    <div class="container-fluid about">
      <div class="container">
        <h3 class="title">About International Microwave & Antennas Symposium</h3>
        <div class="row">
          <div class="col-sm-9">
            <div class="content" data-aos="flip-up">
              Provide an ideal place for the exchange of scientific and technical information, both at academic and industrial levels, with fosters collaboration and cooperation in the Microwaves, Antennas & Propagation domain both at Africa and global levels.
              Provide an overview of the current state-of-the-art in Antennas, Propagation, Microwave circuits and Measurements, highlighting the latest developments and innovations required for future applications.
              Contributions from industries, universities, research centers and other institutions.
            </div>
          </div>
        </div>
        <div class="box-float d-sm-block d-none" data-aos="flip-right" data-aos-duration="1500"></div>
      </div>
    </div>
    <!-- /About -->
    <div class="container-fluid scope">
      <div class="container">
        <h3 class="title">Scope of the International Microwave & Antennas <br>Symposium Conference</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="s-box">
              <div class="hash">1</div>
              <div class="content">
                Theory and applications of microwave, millimeter-wave, terahertz and optical signals 
              </div>
            </div>
            <div class="s-box">
              <div class="hash">3</div>
              <div class="content">
                Antenna theory and applications 
              </div>
            </div>
            <div class="s-box">
              <div class="hash">5</div>
              <div class="content">
                Microwave photonics 
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="s-box">
              <div class="hash">2</div>
              <div class="content">
                Guided-wave passive and active components 
              </div>
            </div>
            <div class="s-box">
              <div class="hash">4</div>
              <div class="content">
                High frequency Integrated circuits, sub-systems, and systems. 
              </div>
            </div>
            <div class="s-box">
              <div class="hash">6</div>
              <div class="content">
                Nano structures, Metamaterials and photonic crystals. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Scope -->
    <!-- Sponsers -->
    <div class="comtainer-fluid sponsors">
      <div class="container">
        <h3 class="title">Featured sponsors</h3>
        <div class="row">
          <div class="col-6">
            <div class="img-box">
              <img src="/imgs/sponsers/mtt-bw.png" style="width: 100px;padding-top:30px;" alt="">
            </div>

          </div>
          <div class="col-6">
            <div class="img-box">
              <img src="/imgs/sponsers/aps-bw.png" style="width: 100px;" alt="">
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <span>
              IEEE Microwave Theory and Techniques Society
            </span>
          </div>
          <div class="col-6">
            <span>
              IEEE Antennas and Propagation Society
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- /main -->

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="container">
          <span>© Copyright 2022 IEEECUSB – All rights reserved.  A not-for-profit organization, IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity.</span>
          <div class="links">
            <a href="http://www.ieee.org/" class="link">IEEE</a>|
            <a href="http://ieeexplore.ieee.org/" class="link">IEEE Xplore</a>|
            <a href="http://standards.ieee.org/" class="link">IEEE Standards</a>|
            <a href="http://spectrum.ieee.org/" class="link">IEEE Spectrum</a>|
            <a href="http://www.ieee.org/sitemap" class="link d-md-inline-block d-none">More sites</a>
          </div>
        </div>
      </div>
      <!-- /Footer -->
  
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
  </html>