<!DOCTYPE html>
<html>
    <head>
        <title>hi - page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>Haloooo</h1>
        <p><%= name%></p>
    </body>
</html>
