<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="imgs/logo/fav.png">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>IMAS 2023</title>
</head>
<script>

</script>
<body>
    <!-- top header -->
      <!-- <div class="container-fluid top-header">
        <div class="container">
          <div class="links">
            <a href="http://www.ieee.org/" class="link">IEEE</a>|
            <a href="http://ieeexplore.ieee.org/" class="link">IEEE Xplore</a>|
            <a href="http://standards.ieee.org/" class="link">IEEE Standards</a>|
            <a href="http://spectrum.ieee.org/" class="link">IEEE Spectrum</a>|
            <a href="http://www.ieee.org/sitemap" class="link d-md-inline-block d-none">More sites</a>
          </div>
        </div>
      </div> -->
    <!-- /top header -->
    <!-- main header -->
    <div class="container-fluid main-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="brand">
              <img src="imgs/logo/ieeecusb.png" alt="company logo">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /main-header -->

    <!-- header-menu -->
    <div class="container-fluid header-menu">
      <div class="container">
        <div class="links">
          <a href="/" class="link">Home</a>
          <a href="/About" class="link">About</a>
          <a href="/Agenda" class="link">Agenda</a>
          <a href="/Topics" class="link">Topics</a>
          <a href="/Structure" class="link">Structure</a>
          <a href="/Sponsers" class="link">Sponsers</a>
          <a href="/Registration" class="link">Registration</a>
        </div>
      </div>
    </div>
    <!-- /header-menu -->

    <!-- first section -->


<!--


-->

<div id="carouselExampleControls" fluid class="carousel head" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active one">
    <img class="d-block w-100" src="imgs/slideshow/pyramids.jpg" alt="First slide">
    </div>
    <div class="carousel-item two">
    <img class="d-block w-100" src="imgs/slideshow/luxor.jpg" alt="First slide">
    </div>
    <div class="carousel-item three">
    <img class="d-block w-100" src="imgs/slideshow/temple.jpg" alt="First slide">
    </div>
  </div>

</div>


 <div class="container-fluid main-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="sec-body">
              <span class="text-header">
                International Microwave & Antennas Symposium 2023
              </span><br>
              <span class="text-content">
                07 February - 09 February 2023, <b>Cairo, Egypt</b>
              </span><br>
              <span class="text-after">
                Sponsored by IEEE MTT & AP
              </span><br>
              <div class="partners">
                <img src="imgs/logo/ieee-black@2x.png">
              </div>
              <div class="rm">
                <button class="btn btn-ieee" onclick="window.location.href='CFP.pdf'">Download</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Timeline/Important dates -->
    <section class="timeline_area section_padding_130" data-aos="fade-up">
      <div class="container">
          <div class="row justify-content-left">
              <div class="col-12 col-sm-8 col-lg-6">
                  <!-- Section Heading-->
                  <div class="section_heading text-left">
                      <h3>Important Deadlines</h3>
                      <div class="line"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                          <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                              <p class="d-none d-sm-inline-block">01/08/2022</p>
                              <p class="d-sm-none">1/8/22</p>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                      <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                                      <div class="timeline-text">
                                          <h6>Proposals for special sessions and tutorials</h6>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                      <div class="timeline-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                                      <div class="timeline-text">
                                          <h6>Deadline for Paper Submission</h6>
                                      </div>
                                  </div>
                              </div>                         
                          </div>
                      </div>
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                          <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                              <p class="d-none d-sm-inline-block">07/11/2022</p>
                              <p class="d-sm-none">7/11/22</p>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                      <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                      <div class="timeline-text">
                                          <h6>Notification of Paper Acceptance</h6>
                                      </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p class="d-none d-sm-inline-block">07/12/2022</p>
                            <p class="d-sm-none">7/12/22</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Final Submission and Early Registration</h6>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p class="d-none d-sm-inline-block">07/02/2023</p>
                            <p class="d-sm-none">7/2/23</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>IMAS2023  Conference Start Date </h6>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p class="d-none d-sm-inline-block">09/02/2023</p>
                            <p class="d-sm-none">9/2/23</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>IMAS2023  Conference End Date </h6>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- /Timeline -->

    <!-- Brief About -->
    <div class="container-fluid about">
      <div class="container">
        <h3 class="title">About International Microwave & Antennas Symposium</h3>
        <div class="row">
          <div class="col-sm-9">
            <div class="content" data-aos="flip-up">
              Provide an ideal place for the exchange of scientific and technical information, both at academic and industrial levels, with fosters collaboration and cooperation in the Microwaves, Antennas & Propagation domain both at Africa and global levels.
              Provide an overview of the current state-of-the-art in Antennas, Propagation, Microwave circuits and Measurements, highlighting the latest developments and innovations required for future applications.
              Contributions from industries, universities, research centers and other institutions.......
              <br><a href="/About" class="rm-link">Read more</a>
            </div>
          </div>
        </div>
        <div class="box-float d-sm-block d-none" data-aos="flip-right" data-aos-duration="1500"></div>
      </div>
    </div>
    <!-- /About -->

    <!-- Partners -->
    <div class="container-fluid partners">
      <div class="container">
        <h3 class="title">Our Partners</h3>
        <div class="row">
          <div class="col-6 col-sm-4"><img src="imgs/partners/1.png" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/2.png" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/3.png" class="h" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/4.png" class="h" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/5.png" class="hs" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/6.png" class="hs" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/7.png" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/8.png" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/9.png" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/10.png" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/11.png" class="w" /></div>
          <div class="col-6 col-sm-4"><img src="imgs/partners/12.png" class="w" /></div>
        </div>
      </div>
    </div>
    <!-- /Partners -->
    
    <!-- Footer -->
    <div class="container-fluid footer">
      <div class="container">
        <span>© Copyright 2022 IEEECUSB – All rights reserved.  A not-for-profit organization, IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity.</span>
        <div class="links">
          <a href="http://www.ieee.org/" class="link">IEEE</a>|
          <a href="http://ieeexplore.ieee.org/" class="link">IEEE Xplore</a>|
          <a href="http://standards.ieee.org/" class="link">IEEE Standards</a>|
          <a href="http://spectrum.ieee.org/" class="link">IEEE Spectrum</a>|
          <a href="http://www.ieee.org/sitemap" class="link d-md-inline-block d-none">More sites</a>
        </div>
      </div>
    </div>
    <!-- /Footer -->

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>