<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="imgs/logo/fav.png">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>IMAS 2023</title>
</head>
<body>
    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12 header-logo">
              <div class="brand">
                <img src="imgs/logo/logo.png" alt="company logo">
              </div>
              <div class="text-header-logo">
                <h3 class="ieee">IEEE</h3>
                <h2 class="imas">IMAS</h2>
                <h2 class="imas">2023</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- /main-header -->

    <!-- header-menu -->
    <div class="container-fluid header-menu">
        <div class="container">
          <div class="links">
            <a href="/" class="link">Home</a>
            <a href="/About" class="link">About</a>
            <a href="/Agenda" class="link">Agenda</a>
            <a href="/Topics" class="link">Topics</a>
            <a href="/Structure" class="link">Structure</a>
            <a href="/Sponsers" class="link">Sponsers</a>
            <a href="/Registration" class="link">Registration</a>
          </div>
        </div>
      </div>
    <!-- /header-menu -->

    <!-- main -->
      <div class="container-fluid" style="margin:40px 0px 80px">
      <h2 class="h2" style="margin:20px">IMAS 2023 Conference Topics</h2>
            <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          01. ANTENNAS AND RELATED TOPICS
        </button>
         <i class="fa-solid fa-caret-down" style="float:right"></i>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

<ul class="list-group">
<li class="list-group-item">A01 Electromagnetic theory and numerical techniques</li>
<li class="list-group-item">A02 Antenna interactions and coupling</li>
<li class="list-group-item">A03 Antenna systems and architectures</li>
<li class="list-group-item">A04 Imaging, Scattering, diffraction and RCS</li>
<li class="list-group-item">A05 Small antennas, RF sensors and Wearable antennas</li>
  <li class="list-group-item">A06 Array antennas, Beamforming, reflectarrays and transmitarrays</li>
  <li class="list-group-item">A07 Adaptive and reconfigurable antennas</li>
  <li class="list-group-item">A08 Active and integrated antennas</li>
  <li class="list-group-item">A09 MIMO, antenna diversity, smart and signal processing antennas</li>
  <li class="list-group-item">A10 Lens antennas and radomes</li>
  <li class="list-group-item">A11 Advanced RF materials, metamaterials, selective surfaces and EBG</li>
  <li class="list-group-item">A12 Millimeter-wave, submillimeterwave and TeraHertz antennas</li>
  <li class="list-group-item">A13 High-power antennas</li>
  <li class="list-group-item">A14 Nano antennas</li>
  <li class="list-group-item">A15 Other advanced antenna topics</li>
</ul>
      </div>
    </div>
  </div>

    <!--################################################################################-->

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          02. PROPAGATION and Related TOPICS
        </button>
         <i class="fa-solid fa-caret-down" style="float:right"></i>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">

<ul class="list-group">
<li class="list-group-item">P01 Tropospheric propagation</li>
<li class="list-group-item">P02 Outdoor/ indoor /urban propagation </li>
<li class="list-group-item">P03 Satellite propagation modeling and measurement campaigns</li>
<li class="list-group-item">P04 Multi-link MIMO and cooperative channels</li>
<li class="list-group-item">P05 Vehicle-to-vehicle and vehicle-to-infrastructure channels</li>
  <li class="list-group-item">P06 Channel-sounding techniques and channel-estimation techniques</li>
  <li class="list-group-item">P07 Millimeter- and submillimeter- wave propagation</li>
  <li class="list-group-item">P08 UWB propagation</li>
  <li class="list-group-item">P09 Body-centric propagation</li>
  <li class="list-group-item">P10 Propagation in random media and in complex media </li>
  <li class="list-group-item">P11 Other advanced propagation topics</li>
  </ul>

      </div>
    </div>
  </div>

  <!--################################################################################-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          03. RF/MICROWAVE CIRCUITS AND SYSTEMS
        </button>
         <i class="fa-solid fa-caret-down" style="float:right"></i>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
<li class="list-group-item">R01 Semiconductor devices and component modeling for RF applications</li>
<li class="list-group-item">R02 Monolithic and hybrid integrated active circuits</li>
<li class="list-group-item">R03 Monolithic and hybrid passive components and circuits</li>
<li class="list-group-item">R04 Receiver and Transmitter RF front-end</li>
<li class="list-group-item">R05 Novel waveguides and new phenomena in waveguides</li>
  <li class="list-group-item">R06 RF packaging and package modeling</li>
  <li class="list-group-item">R07 RFID systems</li>
  <li class="list-group-item">R08 RF MEMS, MOEMS and microsystems</li>
  <li class="list-group-item">R09 Electronic warfare and other military applications of RF/microwaves</li>
  <li class="list-group-item">R10 Emerging areas including nanotechnology and biomedical applications</li>
  <li class="list-group-item">R11 Wireless and cellular architectures, components, and circuits</li>
  <li class="list-group-item">R12 Wireless sensor network and its applications in Internet of Things (IoT).</li>
  <li class="list-group-item">R13 Wireless power transfer techniques </li>
  <li class="list-group-item">R14 Optical/fiber techniques</li>
  <li class="list-group-item">R15 Other advanced RF techniques</li>
</ul>
      </div>
    </div>
  </div>
</div>

  <!--################################################################################-->

 <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           04. Photonics and THz TOPICS
        </button>
         <i class="fa-solid fa-caret-down" style="float:right"></i>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">

<ul class="list-group">
<li class="list-group-item">P01 Optical Networks and Systems</li>
<li class="list-group-item">P02 Fiber Optics Devices and Subsystems </li>
<li class="list-group-item">P03 Detection, Sensing, and Energy</li>
<li class="list-group-item">P04 Biophotonics and Medical Optics,</li>
<li class="list-group-item">P05 Circuits and Systems for THz Applications</li>
  <li class="list-group-item">P06 Other advanced photonics topics</li>

  </ul>

      </div>
    </div>
  </div>

   <!--################################################################################-->

 <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
           05. MEASUREMENT TOPICS
        </button>
        <i class="fa-solid fa-caret-down" style="float:right"></i>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">

<ul class="list-group">
<li class="list-group-item">M01 Measurement of radar scattering and radar calibration techniques</li>
<li class="list-group-item">M02 Advances in near-field, far-field, compact and RCS test ranges </li>
<li class="list-group-item">M03 EMI/EMC/PIM chamber design, measurements and instrumentation</li>
<li class="list-group-item">M04 Other advanced measurement topics</li>
  </ul>

      </div>
    </div>
  </div>

      </div>

    <!-- /main -->

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="container">
          <span>© Copyright 2022 IEEECUSB – All rights reserved.  A not-for-profit organization, IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity.</span>
          <div class="links">
            <a href="http://www.ieee.org/" class="link">IEEE</a>|
            <a href="http://ieeexplore.ieee.org/" class="link">IEEE Xplore</a>|
            <a href="http://standards.ieee.org/" class="link">IEEE Standards</a>|
            <a href="http://spectrum.ieee.org/" class="link">IEEE Spectrum</a>|
            <a href="http://www.ieee.org/sitemap" class="link d-md-inline-block d-none">More sites</a>
          </div>
        </div>
      </div>
      <!-- /Footer -->
  
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
  </html>