@font-face {
    font-family: poppins;
    src: url('/fonts/poppins/Poppins-Regular.ttf');
}
*{
    font-family: poppins;
    transition: .5s all;
}
body{
    overflow-x: hidden;
}
/* Top header */
.top-header{
    text-align: right;
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 5px 0;
}

/* Main header */
.bg{
    height: 20vh;
    background-image: url(../imgs/header.png);
    background-repeat:no-repeat;
    background-size: cover;
}
/* Menu header */
.header-menu{
    background: #FFA827;
    background: linear-gradient(90deg, #FFA827 0%, #eb9310 23%, #b06f0d 100%);
    text-align: center;
}
.header-menu .links .link{
    display: inline-block;  
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}
.header-other .header-new{
    background: #FFA827;
    background: linear-gradient(144deg, #ffffff97 0%, #d88912cf 23%, #040404d8 100%);
}
.header-new{
    background: #FFA827;
    background: linear-gradient(144deg, #ffffff97 0%, #d8891291 23%, #040404d8 100%);
    position: relative;
    z-index: 6;
    padding: 10px 40px;
}
.header-new .col-sm-10{
    text-align: right;
    padding: 40px;
}
.header-new .col-sm-10 .links{
    padding: 0px 20px;
}
.header-new .brand img{
    width: 8em;
}
.header-new .links .link{
    display: inline-block;  
    color: #fff;
    font-size: .9em;
    text-decoration: none;
    padding: 10px 10px;
}
.header-new .links .btn-ieee{
    font-size: .9em;
    font-weight: normal;
    color: #FFA827;
    background: #fff;
}
.header-new .links .btn-ieee:hover{
    font-size: .9em;
    font-weight: normal;
    color: #FFF;
    background: #FFA827;
}
.header-new .to-links .to-links-box{
    padding: 10px 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #FFA827;
    font-size: 1.2em;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
}
.carousel-item{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-header-new{
    padding: 10vh  0 0 100px;
    color: #fff;
}
.text-header-new .text-header{
    font-weight: bold;
    font-size: 3em;
    width: 60%;
    display: inline-block;
}
.text-content{
    font-size: 1.2em;
}
.hvr-overline-from-center:before{
    background-color:#fff !important;
}
.fixed-menu{
    padding: 5vh 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(144deg, #FFA827 0%, #d88912 23%, #e69010 100%);
    z-index: 10;
    display: none;
}
.fixed-menu .fixed-links{
    text-align: center;
}
.fixed-menu .fixed-links a{
    display: block;
    color:#fff;
    padding: 2vh 0;
}
.fixed-links .btn-ieee{
    color:#6C4009;
    margin: 20px 0;
    background: #fff;

}
.fixed-links .btn-ieee:hover{
    color:#fff;
    margin: 20px 0;
    background: #6C4009;

}
.fixed-links a:hover{
    text-decoration: none;
}

.fixed-links .close{
    color:#fff;
    padding: 2vh 0;
    float: none;
}
/* Main section */


.main-sec .container{
    width: 105vh;
    background: rgb(0 0 0 / 18%);
    border-radius: 5px;
    padding: 20px;
}

.main-sec{
    margin: 20px 0;
    padding: 30px 0;
    z-index: 2;
    position: absolute;
    top:50%;
    left: 24%;
    width: 55%;
}

/*Carousel update*/
.header-body{
    display: flex;
    position: relative;
    z-index: 5;
    min-height: 100vh;
}
.header-other .header-body{
    min-height: 20vh;
    margin-bottom: 50px;
}


.main-sec span{
    display: inline-block;
    padding: 10px 0;
}

.sec-body span {
    animation: type 8s infinite;
    animation-delay: 3s;
    white-space:nowrap;
    overflow:hidden;
    font-family: monospace;
}
@keyframes type {
    from { width: 0; }
    to { width:700px; }
 }
.main-sec .sec-body .text-header{
    font-weight: bold;
    font-size:25px;
    color: black;
}
.main-sec .sec-body .text-content{
    color: #000000;
}
.main-sec .event-img img{
    width: 100%;
    border-radius: 20px;
}
.main-sec .rm{
    padding: 20px 0;
}
.btn-ieee{
    background: #FFA827;
    background: linear-gradient(144deg, #FFA827 0%, #d88912 23%, #e69010 100%);
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}
/* Timeline */
.timeline_area.section_padding_130 .section_heading h3,h3.title{
    font-weight: bold;
    padding: 10px 0 0px;
    margin-bottom: 40px;
    font-size: 2em;
    position: relative;
}
:is(h3.title,.timeline_area.section_padding_130 .section_heading h3)::after{
    position: absolute;
    content:'';
    left: 0;
    right: 0;
    top: 5px;
    border-radius: 5px;
    height: 5px;
    width: 200px;
    z-index: -1;
    opacity: .8;
    background-color: #FFA827;
}
.timeline_area {
    position: relative;
    z-index: 1;
    margin: 80px 0;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
    .text-header-new .text-header{
        width: 100%;
    }
    .text-header-new{
        padding: 0vh  0 100px 10px;
        color: #fff;
    }
    .header-body{
        height: 113vh;
    }
    .header-other .header-body{
        height: auto;
    }
}
@media only screen and (max-width: 1080px) {
    .header-new .col-sm-10 .links{
        display: none;
    }
    .header-new .col-sm-10 .to-links{
        display: block;
    }
}
@media only screen and (min-width: 1080px) {
    .header-new .col-sm-10 .to-links{
        display: none;
    }
    .header-new .col-sm-10 .links{
        display: block;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFA827;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}
.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
    background-color: #6C4009;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color: #020710;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: #6C4009;
}
/* About */
.about{
    position: relative;
    z-index: 4;
    background-color: transparent;
    background-color: #f6fbff;
    padding: 40px 0 120px;
}
.about *{
    position: relative;
    z-index: 2;
}
.about .box-float{
    top: 50px;
    right: 0px;
    height: 400px;
    width: 400px;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    position: absolute;
    background: #FFA827;
    background-image: linear-gradient(90deg, rgba(109, 64, 9, 0.9) 0%, rgba(255, 169, 39, 0.8) 80%, #FFA827 100%),url('../imgs/a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}
.about .content{
    background-color: #fff;
    padding: 50px;
    text-align: justify;
}
.about .rm-link{
    text-decoration: none;
}
/* Partners */
.partners{
    margin: 50px 0;
}
.partners .row{
    justify-content: center;
    text-align: center;
}
.partners img{
    padding: 20px 0;
    width: 40%;
}
.partners img.h{
    width: 30%;
}
.partners img.hs{
    width: 35%;
}
.partners img.w{
    margin-top: 20px;
    width: 50%;
}
/* Footer */
.footer{
    background: #FFA827;
    background: linear-gradient(90deg, #FFA827 0%, #eb9310 23%, #b06f0d 100%);
    text-align: center;
    padding: 10px 0;
}
.footer span{
    color:#fff;
    font-size: 0.8em;
}
.footer .links .link{
    padding: 10px 15px;
    color: rgb(36, 36, 36);
    text-decoration: none;
}
.footer .links .link:hover{
    color: rgb(124, 124, 124);
    text-decoration: underline;
}
/* 
----------------------- About Page --------------------------------
*/
.scope{
    padding: 50px 0;
}
.scope .s-box{
    background: #ffe8c5;
    background: linear-gradient(90deg, #ffe8c5 0%, #fbcd87 100%);
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
    min-height: 115px;
}
.scope .s-box:hover{
    background: #FFA827;
    background: linear-gradient(90deg, #FFA827 0%, #e88b00 50%, #b86f00 100%);
}
.scope .s-box .hash{
    width: 30px;
    height: 30px;
    text-align: center;
    background: rgb(238, 249, 255);
    padding: 3px;
    color:#222;
    border-radius: 50%;
}
.scope .s-box .hash-text{
    display: inline-block;
    text-align: center;
    background: rgb(238, 249, 255);
    padding: 7px 15px;
    color:#222;
    border-radius: 10px;
}
.scope .s-box .content{
    font-weight: bold;
    padding: 10px 20px;
    color:#222;
}
.scope .s-box:hover .content{
    color:#fff;
}
.sponsors{
    margin: 40px 0;
}
.sponsors .row{
    text-align: center;
}
.sponsors .img-box{
    padding: 20px;
}
.sponsors span{
    font-weight: bold;
    color: rgb(131, 131, 131);
}
.text-header-logo{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border-left: 1px solid #222;
    margin-left: 10px;
    padding-left: 20px;
}
.brand{
    display: inline-block;
}
.header-logo{
    text-align: center;
}
.ieee{
    font-weight: bold;
}
.ieee, .imas{
    font-size: 2em;
    margin: 0;
}
/*
    Venue
*/
.image_box{
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}
.image_box.box_right{
    margin-right: -100px;
    margin-left: 100px;
}
.image_box img{
    width:100%;
}
.image_box.dom{
    position: absolute;
    top: 0;
    left: 10%;
    right: 20%;
    box-shadow: #727272bd 51px 5px 80px;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.image_box.rec{
    position: absolute;
    top: 20vh;
    left: 50%;
    right: 0%;
    box-shadow: #727272bd 51px 5px 80px;
    background-repeat: no-repeat;
    min-height: 30vh;
    background-size: cover;
    z-index: 1;
}
.guc_img_rel , .cairo_img_rel{
    position: relative;
    min-height: 60vh;
}
.image_box.dom.cairo{
    background-image: linear-gradient(90deg, #b06f0d38 0%, #eb93103b 23%, #ffa9277d 100%),url(../imgs/country/cairo1.jpg);
    box-shadow: #727272bd -19px 20px 80px 6px;
    left: 5%;
    right: 28%;
    z-index: 1;
}
.image_box.rec.cairo{
    background-image: linear-gradient(90deg, #9f7e4c6e 0%, #6d481263 23%, #b77d28d8 100%),url(../imgs/country/cairo2.jpg);
    box-shadow: #727272bd -20px 20px 80px 16px;
    left: 40%;
    right: 5%;
}
.image_box.dom.guc{
    background-image: linear-gradient(90deg, #b06f0d38 0%, #eb93103b 23%, #ffa927cf 100%),url('../imgs/country/guc2.jpeg')
}
.image_box.rec.guc{
    background-image: linear-gradient(90deg, #5d3c0ab1 0%, #4e31067f 23%, #51350cd8 100%),url('../imgs/country/guc1.jpeg');
}